@tailwind base;
@tailwind components;
@tailwind utilities;

/* import another fonts */
@font-face {
  font-family: Gilroy;
  src:
    url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'),
    url('../fonts/Gilroy-Light.ttf') format('truetype'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/circular-std-medium-500.ttf') format('truetype');
}

@layer base {
  html {
    @apply font-circular;
  }

  h1,
  h2 {
    @apply font-gliroy;
  }
}
